<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Super</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <div class="row m-8">
                <div class="col text-center border border-dark" style="margin-top: 36px">
                    <h1 class="text-dark">Supers</h1>
                </div>
            </div>
            <div class="row m-8 border border-dark" style="margin-top: 36px">
                <div class="col text-center m-2">
                    <a href="/" class="btn btn-primary btn-lg">Home</a>
                </div>
                <div class="col text-center m-2">
                    <a href="supers" class="btn btn-primary btn-lg">Supers</a>
                </div>
                <div class="col text-center m-2">
                    <a href="sightings" class="btn btn-primary btn-lg">Sightings</a>
                </div>
                <div class="col text-center m-2">
                    <a href="organizations" class="btn btn-primary btn-lg">Organizations</a>
                </div>
                <div class="col text-center m-2">
                    <a href="locations" class="btn btn-primary btn-lg">Locations</a>
                </div>
            </div>
            <div class="col-12 m-1 text-center" 
                 th:if="${errors!=null && !errors.isEmpty()}">
                <p class="alert alert-danger" th:each="error : ${errors}" 
                   th:text="${error.message}">Error message</p>
            </div>
            <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Edit Super</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="editSuper" method="POST" th::object="${vm.sup}">
                        <input type="hidden" name="sup.superId" th:value="${vm.sup.superId}"/>
                        <div class="form-group row">

                            <label for="name" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" name="sup.name"
                                       id="name" th:value="${vm.sup.name}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="description" class="col-3 col-form-label">
                                Description</label>
                            <div class="col-9">
                                <input type="text" name="sup.description"
                                       id="description" th:value="${vm.sup.description}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">

                            <label for="superpower" class="col-3 col-form-label">
                                Name</label>
                            <div class="col-9">
                                <input type="text" name="sup.superpower"
                                       id="address" th:value="${vm.sup.superpower}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="organizations" class="col-3 col-form-label">
                                Organizations</label>
                            <div class="col-9">
                                <select multiple name="selectedOrgIds" 
                                        class="form-control" >
                                    <option th:each="org : ${vm.allOrgs}" 
                                            th:value="${org.organizationId}" 
                                            th:text="${org.name}"
                                            th:selected="${vm.sup.hasOrg(org.organizationId)}">
                                        Super Name</option>
                                </select>
                            </div>
                        </div>
                         <div class="form-group row">
                            <label for="sightings" class="col-3 col-form-label">
                                Sightings</label>
                            <div class="col-9">
                                <select multiple name="selectedSightIds" 
                                        class="form-control" >
                                    <option th:each="stg : ${vm.allSightings}" 
                                            th:value="${stg.sightingId}" 
                                            th:text="${stg.dateString}"
                                            th:selected="${vm.sup.hasSighting(stg.sightingId)}">
                                        Sighting Name</option>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Update Super</button>
                    </form>
                </div>
            </div>
        </div> 

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
